<section class="temperature">
    <div class="head">
        <h2>Pollution de l'air à Orléans</h2>
        <p>Pollution en temps réel et prévisions à<br>Orléans</p>
    </div>
    <div class="fenetre_pollution">
        <div class="infos">
            <h3>LIVE</h3>
            <h2>{{ index }}</h2>
            <p>{{ AQI }} AQI</p>
        </div>
        <img class="pastille_casque" src="{{ image }}" alt="test" style="width:20%;">
    </div>
</section>
