<section class="temperature">
    <div class="head">
        <h2>Pollution de l'air à Orléans</h2>
        <p>Pollution en temps réel et prévisions à<br>Orléans</p>
    </div>
    <div class="fenetre_pollution">
        <div class="infos">
            <h3>LIVE</h3>
            <h2>Modérée</h2>
            <p>23 AQI</p>
        </div>
        <div class="pastille" style="background-color: #01650d"></div>
    </div>
</section>