<section class="meteo">
    <div class="titre">
        <h1 class="orleans">Méteo</h1>
    </div>
    <div class="underline"></div>
    <div id="widget_0f8126506a770d11c99a6e11091d0cbe" class="widjet_meteo">
        <span id="l_0f8126506a770d11c99a6e11091d0cbe"><a href="http://www.mymeteo.info/r/orleans_2">m&eacute;t&eacute;o France Orl&eacute;ans</a></span>
        <div class="trait"></div>
        <script type="text/javascript">
        (function() {
            var my = document.createElement("script"); my.type = "text/javascript"; my.async = true;
            my.src = "https://services.my-meteo.com/widget/js?ville=250&format=carre&nb_jours=2&temps&precip&c1=393939&c2=46B4C7&c3=transparent&c4=transparent&c5=46B4C7&c6=d21515&police=4&t_icones=13&x=335.9659118652344&y=166.7045440673828&d=0&id=0f8126506a770d11c99a6e11091d0cbe";
            var z = document.getElementsByTagName("script")[0]; z.parentNode.insertBefore(my, z);
        })();
        </script>
    </div>
</section>
