@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap');
@import "home.scss";

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Rubik', sans-serif ;
}
