@import "navbar.scss";

main {
    .meteo {
        h1 {
            font-size: 26px;
            margin: 20px 0 10px 30px;
            color: $font-color;
            font-weight: 300;
        }

        .underline {
            width: 100px;
            border: solid $font-color 1px;
            margin-bottom: 20px;
        }

        .widjet_meteo {
            margin: auto;
            padding-top: 20px !important;
            width: 90% !important;
            height: 180px;
            background-color: white !important;
            border-radius: $radius;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        box-shadow: $shadow;+-

            .trait {
                height: 50%;
                width: 100%;
                position: absolute;
                border-bottom: solid #d5d5d5 1.5px;
                top: 0;
            }

            #l_0f8126506a770d11c99a6e11091d0cbe {
                display: none;
            }
        }
    }

    .temperature {
        width: 90%;
        margin: 25px auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: $shadow;
        border-radius: $radius;

        .head {

            height: auto;
            width: 100%;
            background-color: $primary-color;
            padding: 20px 0;
            color: white;
            border-radius: $radius $radius 0 0;

            h2 {
                margin: 0 20px;
                font-weight: 500;
            }

            p {
                margin: 5px 20px 0 20px;
            }
        }

        .fenetre_pollution {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            background-color: white;
            border-radius: 0 0 $radius $radius;

            .infos {
                margin-left: 20px;

                h3 {
                    color: $primary-color;
                    font-weight: 500;
                    margin-bottom: 5px;

                }

                h2 {
                    font-weight: 500;
                    color: $font-color;
                    margin: 0;
                }

                p {
                    margin-top: 0;
                    font-weight: 300;
                    color:$font-color;
                }
            }

            .pastille {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                margin-right: 20px;
            }

        }
    }
}
