.navbar {
    z-index:  10;
    background-color: $primary-color;
    height: 80px;
    margin: 0;
    padding-bottom: 5px;
}

.navbar-nav {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-item {
   list-style-type: none;
}

.title {
    color: #ffffff;
    margin: 0px;
    padding-top: 15px;
    padding-left: 15px
}

a:link, a:visited {
    text-decoration: none;
}

a:active {
    color: #ffffff;
}
