<div class="navbar">
    <div class="w-100 head_container">
        <h1 class="title">{% if page == 'meteo' %}<span class="staowars">S<span class="tao">TAO</span>WARS</span>{% elseif page == 'bus' %}Bus/Tram{% elseif page == 'velo' %}Vélo+{% elseif page == 'parking' %}Parkings{% endif %}</h1>
    <div class="theme-switch-wrapper">
        <input class = "tgl tgl-flip" id="checkbox" type="checkbox"/>
        <label class = "theme-switch tgl-btn" data-tg-off = "Jedi" data-tg-on="Sith" for="checkbox">
            <div class="slider round"></div>
        </label>
    </div>
    </div>
    <div class="full_nav">
        <div class="items">
            <a class="icon" href="{{ path('home') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18">
                    <path id="Icon_metro-weather3" data-name="Icon metro-weather3"
                          d="M4.146,14.784a3.792,3.792,0,0,1-.075-.75,3.744,3.744,0,0,1,5.177-3.465,5.955,5.955,0,0,1,10.645,0,3.747,3.747,0,0,1,5.1,4.215h1.5a5,5,0,0,0,.076-.75,5.256,5.256,0,0,0-5.25-5.25,5.2,5.2,0,0,0-.74.053,7.442,7.442,0,0,0-12.019,0,5.2,5.2,0,0,0-.74-.053,5.256,5.256,0,0,0-5.25,5.25,5.135,5.135,0,0,0,.076.75Zm21.675,1.5H3.321a.75.75,0,0,0,0,1.5h22.5a.75.75,0,1,0,0-1.5Zm0,3H3.321a.75.75,0,1,0,0,1.5h22.5a.75.75,0,1,0,0-1.5Zm0,3H3.321a.75.75,0,1,0,0,1.5h22.5a.75.75,0,1,0,0-1.5Z"
                          transform="translate(-2.571 -5.784)" fill="{% if page == 'meteo' %}#fff{% else %}#e8e8e8{% endif %}"/>
                </svg>
                <div class="underline {% if page == 'meteo' %}active{% endif %}"></div>
            </a>
        </div>
        <div class="items">
            <a class="icon" href="{{ path('bus') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <path id="Icon_awesome-bus" data-name="Icon awesome-bus"
                          d="M19.063,5H18.75V3.125C18.75,1.375,14.875,0,10,0S1.25,1.375,1.25,3.125V5H.938A.937.937,0,0,0,0,5.938V9.063A.938.938,0,0,0,.938,10H1.25v6.25A1.25,1.25,0,0,0,2.5,17.5v1.25A1.25,1.25,0,0,0,3.75,20H5a1.25,1.25,0,0,0,1.25-1.25V17.5h7.5v1.25A1.25,1.25,0,0,0,15,20h1.25a1.25,1.25,0,0,0,1.25-1.25V17.5h.25a.986.986,0,0,0,1-1V10h.313A.938.938,0,0,0,20,9.063V5.938A.937.937,0,0,0,19.063,5ZM4.375,15.625a1.25,1.25,0,1,1,1.25-1.25A1.25,1.25,0,0,1,4.375,15.625ZM5,11.25A1.25,1.25,0,0,1,3.75,10V5A1.25,1.25,0,0,1,5,3.75H15A1.25,1.25,0,0,1,16.25,5v5A1.25,1.25,0,0,1,15,11.25Zm10.625,4.375a1.25,1.25,0,1,1,1.25-1.25A1.25,1.25,0,0,1,15.625,15.625Z"
                          fill="{% if page == 'bus' %}#fff{% else %}#e8e8e8{% endif %}"/>
                </svg>
                <div class="underline {% if page == 'bus' %}active{% endif %}"></div>
            </a>
        </div>
        <div class="items">
            <a class="icon" href="{{ path('velo') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="23.415" height="20" viewBox="0 0 23.415 20">
                    <path id="Icon_material-directions-bike" data-name="Icon material-directions-bike"
                          d="M15.122,6.152A1.951,1.951,0,1,0,13.171,4.2,1.957,1.957,0,0,0,15.122,6.152ZM4.878,12.494a4.878,4.878,0,1,0,0,9.756,4.878,4.878,0,1,0,0-9.756Zm0,8.293a3.415,3.415,0,1,1,0-6.829,3.415,3.415,0,1,1,0,6.829Zm5.659-9.756,2.341-2.341.78.78a6.835,6.835,0,0,0,4.976,2.049V9.567A4.847,4.847,0,0,1,15.122,8.1L13.268,6.25a2.392,2.392,0,0,0-1.561-.585,1.637,1.637,0,0,0-1.366.585L7.61,8.982a1.926,1.926,0,0,0-.585,1.366,1.637,1.637,0,0,0,.585,1.366l3.122,2.732v4.878h1.951V13.274Zm8,1.463a4.878,4.878,0,1,0,4.878,4.878A4.831,4.831,0,0,0,18.537,12.494Zm0,8.293a3.415,3.415,0,1,1,3.415-3.415A3.457,3.457,0,0,1,18.537,20.787Z"
                          transform="translate(0 -2.25)" fill="{% if page == 'velo' %}#fff{% else %}#e8e8e8{% endif %}"/>
                </svg>
                <div class="underline {% if page == 'velo' %}active{% endif %}"></div>
            </a>
        </div>
        <div class="items">
            <a class="icon" href="{{ path('parking') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="14.444" height="20" viewBox="0 0 14.444 20">
                    <path id="Icon_material-local-parking" data-name="Icon material-local-parking"
                          d="M16.778,4.5H9v20h4.444V17.833h3.333a6.667,6.667,0,1,0,0-13.333ZM17,13.389H13.444V8.944H17a2.222,2.222,0,0,1,0,4.444Z"
                          transform="translate(-9 -4.5)" fill="{% if page == 'parking' %}#fff{% else %}#e8e8e8{% endif %}"/>
                </svg>
                <div class="underline {% if page == 'parking' %}active{% endif %}"></div>
            </a>
        </div>
    </div>
</div>
