{% extends 'base.html.twig' %}
{% set page = "bus" %}

{% block title %}Carte Bus{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <style type="text/css">
        #map{
            height:731px;
            width: 411px;
        }

        .leaflet-popup-tip
        {
            background: var(--primary-color);
            color: #ffffff;
        }
        .leaflet-popup-content-wrapper {
            background: var(--primary-color);
            color: #ffffff;
        }
    </style>
{% endblock %}

{% block body %}

        <div id="map">
	    <!-- Ici s'affichera la carte -->
	    </div>

        <!-- Fichiers Javascript -->
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
	    <script type="text/javascript">
            // On initialise la latitude et la longitude de Paris (centre de la carte)
            var stops = {
            {% for info in infos %}
                '{{ info.fields.nom_generi }}': { "lat": '{{info.fields.geo_point_2d.0}}', "lon": '{{info.fields.geo_point_2d.1}}', "ligne": '{{info.fields.lignes_pas}}'},
                {% endfor %}
            };

    console.log(stops);
            var lat = 47.893824;
            var lon = 1.894932;
            var macarte = null;
            // Fonction d'initialisation de la carte
            function initMap() {
                var iconBase =  "https://cdn2.iconfinder.com/data/icons/starwars/icons/128/R2-D2.png";
                // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
                macarte = L.map('map').setView([lat, lon], 11);
                // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    // Il est toujours bien de laisser le lien vers la source des données
                    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                    minZoom: 15,
                    maxZoom: 20
                }).addTo(macarte);
                // Nous ajoutons un marqueur
                for(stop in stops){
                    var myIcon = L.icon({
                        iconUrl: iconBase,
                        iconSize: [50, 50],
                        iconAnchor: [25, 50],
                        popupAnchor: [0, -50],
                    });
                    var marker = L.marker([stops[stop].lat, stops[stop].lon], {icon: myIcon}).addTo(macarte);
                    marker.bindPopup("<h4>"+stop+"</h4><p>Ligne : "+stops[stop].ligne+"</p>");
                }
            }
            window.onload = function(){
		// Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
		initMap();
            };
        </script>
{% endblock %}
